!!! 5
html
  head
    title Sherbox #{hello}
    link(rel="stylesheet" href="/js/labels/jquery.tagsinput.css")
    link(href="/css/bootstrap.css" rel="stylesheet")
    link(href="/css/style.css" rel="stylesheet")
    script(src="/js/jquery.js")
    script(src="/js/bootstrap.js")
    script(src="/js/sjcl.js")
    script(src="/js/labels/jquery.tagsinput.js")
    script.
      window.box = '#{box}';

  body
    div.container
      div.page-header
        div.row
          div.col-md-6
            h1 Sherbox <small>securly share your files</small>
          div.col-md-6(style="text-align: right; padding-top: 30px")
            a(data-toggle="modal" href="#myModal" class="btn btn-default") ...

      script.
      div.row
        div#dropbox.well.col-md-12
          h2 Drag and drop files here

      div.row
        ul#list.list-inline
          - each file in files
            li
              a.file.well(id="#{file.shortId}", href="#") 
                span.glyphicon.glyphicon-file &nbsp;
                span #{file.name}

      div#data
        - each file in files
          div(id="data-#{file.shortId}") #{file.crypt}

      div(class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
        div.modal-dialog
          div.modal-content
            div.modal-body
              h4 Link : <a id="box"></a>   
              br
              h4 SMS 
              input(name="tags" id="tags" value="" maxlength="10")
            div.modal-footer
              button(type="button" class="btn btn-default" data-dismiss="modal") Close
    script(src="/js/box.js")
    script.
      $('#tags').tagsInput();
