!!! 5
html
  head
    title Sherbox #{hello}
    link(href="/css/bootstrap.css" rel="stylesheet")
    link(href="/css/style.css" rel="stylesheet")
    script(src="/js/jquery.js")
    script(src="/js/bootstrap.js")
    script(src="/js/sjcl.js")
  body
    div.container
      div.page-header
        div.row
          div.col-md-6
            h1 Sherbox <small>securly share your files</small>
          div.col-md-6(style="text-align: right; padding-top: 30px")
            h4 Box : <a id="box"></a>

      div.row
        div#dropbox.well.col-md-12
          h2 Drag and drop files here

      div.row
        ul#list.list-inline
          - each file in files
            li
              a.file.well(id="#{file.shortId}", href="#") #{file.name}

      div#data
        - each file in files
          div(id="data-#{file.shortId}") #{file.crypt}
    script.
      function handleFiles(files) {
        for (var i = 0, f; f = files[i]; i++) {
          var file = files[i];
          var reader = new FileReader();
          reader.readAsBinaryString(file);

          reader.onloadend = function(evt) {
            var dropbox = $("#dropbox h2");
            dropbox.html("Encrypting...");
            var crypt = sjcl.encrypt("password", reader.result);

            dropbox.html("Sending...");
            $.post("/put", { 
              crypt: crypt, 
              name: file.name,
              box: box
              }, function(data) {
                dropbox.html("Done!");
                var div = $('<div id="data-' + data.shortId + '">');
                div.html(data.crypt);
                $("#data").append(div);

                var a = $('<a href="#" class="file well">');
                a.html(data.name);
                a.attr('id', data.shortId);

                var li = $("<li>");
                li.append(a);

                $("#list").append(li);
                dropbox.html("Drag and drop files here");
              }, "json");
          }
        }
      }

      function dragenter(e) {
        e.stopPropagation();
        e.preventDefault();
      }

      function dragover(e) {
        e.stopPropagation();
        e.preventDefault();
      }

      function handleFileSelect(e) {
        e.stopPropagation();
        e.preventDefault();

        var files = e.target.files; // FileList object
        handleFiles(files);
      }

      function drop(e) {
        e.stopPropagation();
        e.preventDefault();

        var dt = e.originalEvent.dataTransfer;
        var files = dt.files;

        handleFiles(files);
      }

      $('#files').on('change', handleFileSelect);

      $("#dropbox").on('dragenter', dragenter);
      $("#dropbox").on('dragover', dragover);
      $("#dropbox").on('drop', drop);

      var box = '#{box}';
      var boxref = window.location.origin + '/box/' + box;
      $("#box").html(boxref);
      $("#box").attr('href', boxref);


      $(document).on('click', '.file', function(e) {
        var id = $(e.target).attr('id');
        var name = $(e.target).html();
        var content = $('#data-' + id).html();
        var decrypt = sjcl.decrypt("password", content);
        window.location = 'data:Application/octet-stream,' + encodeURIComponent(decrypt);
      });
