!!! 5
html
  head
    title Sherbox #{hello}
    link(rel="stylesheet" href="/js/labels/jquery.tagsinput.css")
    link(href="/css/bootstrap.css" rel="stylesheet")
    link(href="/css/style.css" rel="stylesheet")
    script(src="/js/jquery.js")
    script(src="/js/bootstrap.js")
    script(src="/js/sjcl.js")
    script(src="/js/labels/jquery.tagsinput.js")
    script.
      window.box = '#{box.box}';
      window.createdOn = '#{box.createdOn}';
      window.mobiles = '#{box.mobiles}';

  body
    div#title
      h2 This is the box #{box.box}
      div(id='countdown') 0h 0m 0s
    div#app.container
      div.page-header
        div.row
          div.col-md-2
            img( style="width:100%" src="http://www.exposurehifi.com/images/lock-icon.png")
          div.col-md-6
            h1 Sherbox <small>securely share your files</small>
            p All of your sensitive data is encrypted and decrypted on your computer by your password that only you know. Your password is NEVER stored on our servers, so your secure data can't be retrieved by anyone but you.
           div.col-md-6(style="text-align: right; padding-top: 30px")
            a(data-toggle="modal" href="#myModal" class="btn btn-default")
              i.glyphicon.glyphicon-send
      div.row
        div#dropbox.col-md-12
          div.well
            h2 Drag and drop files here

      div.row
        div.col-md-12
          ul#list.list-inline
            - each file in files
              li
                a.file.well(id="#{file.shortId}", href="#") 
                  span.glyphicon.glyphicon-file &nbsp;
                  span #{file.name}

      div#data
        - each file in files
          div(id="data-#{file.shortId}") #{file.crypt}

      div(class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
        div.modal-dialog
          div.modal-content
            div.modal-body
              h4 Link
              input(type="text" id="box" style="width:300px")
              br
              br
              h4 SMS <small>notification</small>
              input(name="tags" id="tags" value="#{box.mobiles}" maxlength="10")
              br
              h4 Social
              <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
              a(href="https://www.facebook.com/sharer/sharer.php?u=http//SherBox.ca/box/#{box}" target="_blank")
                img(src="/img/facebook.png", width="32")
              a(href="https://twitter.com/share" id="twitterurl" style="margin-left: 15px")
                img(src="/img/twitter.png", width="32")
            div.modal-footer
              button(type="button" class="btn btn-default" data-dismiss="modal") Close   
    script(src="/js/box.js")
    script.
      $('#tags').tagsInput({
        onAddTag: function(val) {
          $.post('/phone/add', { box: box, mobile: val});
        },
        onRemoveTag: function(val) {
          $.post('/phone/remove', { box: box, mobile: val});
        }
      });


